<div class="books_list">
  <p>
    <strong>Books:</strong>
    <ul>
      <% if books.any? %>
        <% books.each do |book| %>
          <%= render partial: '/books/list_item', locals: { book: book } %>
        <% end %>
      <% end %>
    </ul>
  </p>
</div>
